# Virtual environments
venv/
env/
.env/

# Python cache

__pycache__/
*.pyc

# Environment variables
.env

#EMAIL_ADDRESS = "razafaiz003@gmail.com"
#EMAIL_PASSWORD = "zjphoxqsdhejsgvf"
#RESEND_API_KEY = re_J5A1KkHB_8gpprJVn6BHGG7Gv2bBJs4ss
#RESEND_API_KEY = re_J5A1KkHB_8gpprJVn6BHGG7Gv2bBJs4ss
#FROM_EMAIL=onboarding@resend.dev
#BREVO_SMTP_LOGIN = a0f158001@smtp-brevo.com
#BREVO_SMTP_PASSWORD = rjIXKfUSHWATzLs7