flask
flask-cors
flask-jwt-extended
flask-sqlalchemy
flask-mail
joblib
numpy
pandas
scikit-learn
python-dotenv
pandas
numpy
scikit-learn
nltk 
matplotlib
seaborn
flask 
joblib
xgboost
streamlit
sendgrid
pdfplumber
gunicorn
