<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MediSure</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header class="header">
  <div class="header-inner">
    <div class="logo">MediSure</div>
    <nav class="nav">
      <a href="/home" class="active">Home</a>
      <a href="/about">About</a>
      <a href="/my-appointments">Appointments</a>
      <a href="/consult-doctor" class="cta">Consult Doctor</a>
    </nav>
  </div>
</header>

<section class="hero">
  <h1>MediSure - Intelligent Health Monitoring Platform</h1>
  <p>Get fast,reliable health risk Assessment using advanced medical AI models - trusted & secure</p>
  <a href="/disease_nlp" class="hero-btn">Start Health Check</a>
</section>

<main class="container">
  <h2 class="title">Health Prediction Services</h2>

<div class="grid">



  <!-- rest of cards -->
    <a class="card" href="/diabetes">
      <div class="img-box">
        <img src="/static/images/Diabetes.jpg" />
      </div>
      <div class="card-body">
        <h3>Diabetes Prediction</h3>
        <span>Check Now</span>
      </div>
    </a>

    <a class="card" href="/heart">
      <div class="img-box">
        <img src="/static/images/Heart.jpg" />
      </div>
      <div class="card-body">
        <h3>Heart Disease Prediction</h3>
        <span>Check Now</span>
      </div>
    </a>

    <a class="card" href="/migraine">
      <div class="img-box">
        <img src="/static/images/Migraine.jpg" />
      </div>
      <div class="card-body">
        <h3>Migraine Prediction</h3>
        <span>Check Now</span>
      </div>
    </a>


    <a class="card" href="/alzheimer">
      <div class="img-box">
       <img src="/static/images/alzheimers.jpg" />
     </div>
     <div class="card-body">
      <h3>Alzheimer Prediction</h3>
      <span>Check Now</span>
     </div>
    </a>

    <a class="card" href="/breastcancer">
       <div class="img-box">
         <img src="/static/images/breastcancer.jpg" />
       </div>
       <div class="card-body">
         <h3>Breast Cancer Prediction</h3>
         <span>Check Now</span>
       </div>
    </a>

    <!-- ✅ TYPHOID (NOW WILL SHOW) -->
    <a class="card" href="/typhoid">
      <div class="img-box">
        <img src="/static/images/Typhoid.jpg">
      </div>
      <div class="card-body">
        <h3>Typhoid Prediction</h3>
        <span>Check Now</span>
      </div>
    </a>



  </div>
</main>

<footer class="footer">
  © 2026 MediSure
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/69790ff4ed5ce81982726768/1jg0ecl2e';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
